.row {
  margin: 0px;
  padding: 0px;
}
.container {
  margin: 0px;
  padding: 0px;
}
.col {
  margin: 0px;
  padding: 0px;
}
a:-webkit-any-link {
  text-decoration: none;
}
.margin-right {
  margin-right: 5px;
}

@media (min-width: 601px) and (max-width: 2000px) {
  .margin-right-desktop {
    margin-right: 5px;
  } 
}
